<UL>
 <LI>Termos de Referência
  <UL>
   <LI><a href="#">Categorias de Termos de Referência<a></LI>
   <LI><a href="#">Buscar Termo de Referência<a></LI>
  </UL>
 </LI>
 <LI>Produtos
  <UL>
   <LI><a href="#">Categorias de Produtos<a></LI>
   <LI><a href="#">Buscar Produto<a></LI>
  </UL>
 </LI>
 <LI><A href="[% c.uri_for_action('/auth/logout') %]">Sair</A></LI>
</UL>