[% INCLUDE 'header.tt' %]
  [% IF error == 'usuario-invalido' %]
  <p>Login ou senha invalida.</p>
  [% END %]
  <form action="[% c.uri_for_action('/auth/login') %]" method="POST">
   <input TYPE="text" name="login">
   <input TYPE="password" name="password">
   <input type="submit" value="login">
  </form>
[% INCLUDE 'footer.tt' %]
